@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./_buttons.css";
@import "./_colors.css";
@import "./_backgrounds.css";


html, body {
 height: 100%;
 width: 100%;
 margin: 0; }


.h1 {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
line-height: 173px;
color: #4828AB;
font-size: 3em;
}


/* start of section 1 */
.section-one{
  width: 100%;
  height: 20%;
}

.Container{
  border: 5px solid black;
  Display: flex;
  flex-direction: row;
}

#profileImg{
  width: 10%;
  height: 10%;
}


.profileShapes{
  border: 5px solid black;
  Display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.rectangleSmall{
  width: 40px;
  height: 30px;
  background: #BD44A0;
  transform: skew(-50deg);
  
}

#rectangleLarge
{
  width: 300px;
  height: 30px;
  background: #BD44A0;
  transform: skew(-50deg);
}




/* start of section 2 */
.section-two{
  width: 100%;
  height: 20%;
}

/* add container here */


#workingImg{
  width: 10%;
  height: 20%;
}


/* start of section 3 */

.section-three{
  width: 100%;
  height: 20%;
}



/* start of section 4 */

.section-four{
  width: 100%;
  height: 20%;
}


#rotated
{
  width: 112px;
  height: 47px;
  border-bottom: 6px solid #4828AB;
  transform: rotate(112.93deg);
}


#unitTextI
{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #BD44A0;
}

#unitTextM
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #000000;
}

.mainText
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #000000;
}

.mainBox
{
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}


/* start of drop down */
.dropbtn {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.dropbtn:hover, .dropbtn:focus {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 500;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


#triangle
{
  width: 0px;
    height: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 4px solid black;
}


/* start of section 5 */

/*
.calorieBox{
  border: 5px solid black;
  Display: flex;
  flex-direction: row;
  padding: 10px;
}
 */

.section-four{
  width: 100%;
  height: 20%;
}

.profileButton
{
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s background-color 0.5s;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.2rem 3rem;
  color:white;
}

.line
{
  width: 0px;
  height: 200px;
  border: 6px solid #4828AB;
  
}